<div #tooltipConcealer style="display:none">
    <div [id]="tooltipId">
        <div class="tooltip-container">
            <div fxLayout="row" fxLayoutAlign="space-between center" styl="border-bottom:solid 1px black">
                <div *ngIf="Item.workspace">{{Item.workspace}}, {{Item.board}}, {{Item.group}}</div>
                <div style="margin-left:35px;font-weight:bold">{{Item.department }}</div>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between space-between" style="margin-top:5px;width:100%">
                <div fxLayout="column" fxLayoutAlign="start start">
                    <div style="font-size:13px;float:left;font-weight:bold">
                        <span *ngIf="Item.element && Item.element.length > 0">{{Item.element}} /</span> 
                        {{Item.task}}</div>

                    <div fxLayout="row" fxLayoutAlgn="end center" *ngIf="Item.artist" style="margin-top:10px">
                        <div class="tip-attribute">Assigned:</div>
                        <div class="tip-value">{{Item.artist}}</div>
                    </div>
                    <div fxLayout="row" fxLayoutAlgn="end center" *ngIf="Item.director">
                        <div class="tip-attribute">Reviewing:</div>
                        <div class="tip-value">{{Item.director}}</div>
                    </div>
                </div>
                <div fxLayout="column" fxLayoutAlign="end end" *ngIf="Item.type != 'milestone'">
                    <div style="width:100%;text-align:right">{{Item.timeline}}</div>
                </div>
            </div>
        </div>
    </div>
</div>