.reference-header {
    color: white;
    z-index:5;
    background: black;
    border-bottom:solid 1px black;
}

.reference-title {
    height: 40px;
    padding-top: 8px;
    margin-bottom: 0px;
    font-family: cursive;
}

.path-header {
    height:30px;
    border-bottom: solid 1px gray;
    width:100%;
    z-index:5;
    padding-left:20px;
}

.reference-back-container {
    position:absolute;
    top: 20px;
    right: 50px;
}

.reference-back-container > button {

    background:gray !important;
}
.reference-back-container > button > .mat-button-wrapper > .mat-icon {
    color: white !important;
}

.reference-back-container > button:hover {
    background:black !important;
}

div.reference-back-container > button > span.mat-button-wrapper > mat-iconm, .app-fab-icon-btn {
    color: white !important;
}

.folder-icon {
    width: unset;
    font-size: 50px;
    background: transparent;
    line-height: unset;
    height: unset;
    margin: 30px;
}

.box-folder:not(.box-folder-active) {
    opacity:0.5;
    cursor:pointer;
}
.box-child-of {
    margin-left:10px;
    margin-right:10px;
    color:gray;
    opacity: 0.5;
    font-size:15px;
}
.box-folder:hover{
    opacity: 1;
}

.folder-container {
    opacity:0.5;
}

.folder-container:hover {
    opacity:1;
    cursor: pointer;
}
.folder-name {
    color: gray;
    font-size: 20px;
    margin-bottom: 20px;
    text-align:center;
}

.preview-container {
    height: calc(100vh - 70px);
    width: calc(100vw - 200px);
}

