.user-avatar-nav {
    position:absolute;
    right:0px;
    height:40px;
    width:200px;
    justify-content: end;
}
.user-avatar {
    height:35px;
    //width:200px;
    justify-content: end;
}

.user-photo {
    height:27px;
    width:27px;
    border-radius:100%;
    top:5px;
    border: solid 1px #ffffff55;
    margin:auto;
    margin-left:0px;
    margin-right:0px;
}

.user-displayName {
    margin:auto;
    top:50%;
    padding-top:2px;
}
.displayName-left {
    text-align:right;
    margin-right:10px;
}
.displayName-right {
    text-align:left;
    margin-left:30px;
}
.avatar-circle {
    height: 27px;
    width: 27px;
    background-color: #fff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
  }

  .initials-circle {
      font-family:Delius;
      color:black;
      margin:auto;
      font-size:15px;
      font-weight:500; 
  }