
.overview-toolbar {
  position:static;
  min-height:40px;
  height:50px;
  max-height:40px;
  width:100%;
  border-bottom: solid 1px lightgray;
}

.toolbar-container {
  width:100%;
  height:100%;
  justify-content: center;
  display:flex;
  padding-top:3px;
}

.element-group {
  font-size:15px;
  font-family:Roboto;
}

.element-overview {
  margin-left: 50px;
  width:100%;

}

.gantt-row {
  height: 100%;
  display:flex;
  width:100%;
  margin-left:10px;
}
.gantt-cell {
  width: 100%;
  height: 100%;
  text-align:center;
  border-right:solid 1px lightgray;
  //padding:5px;
}
.gantt-cell :not(:last-child):after {
  border-right: solid 1px lightgray;
}
.search-input {
  padding-left:25px;
  border-color: gray;
}
.search-icon {
  top: 7px;
  left: -5px;
    font-size: 21px;
    position: absolute;
    color: #888;
}
nav {
  box-shadow: 0px 5px 15px -5px #dfdfdf;
}