<ng-container *ngIf="(BoardItems$ | async) as boardItems">
    <ng-container *ngIf="(GroupsMenu$ | async) as groupsMenu">
        <div class="collection-container">
            <ng-container *actionOutlet="groupsMenu">

            </ng-container>
        </div>
    </ng-container>

    {{boardItems | json}}

</ng-container>



<!--
<ng-container *ngIf="(Department$ | async) as department">
    <nav mat-tab-nav-bar *ngIf="(Departments$ | async) as departments" pmTabUnderline [primaryColor]="primaryColor">
        <a mat-tab-link *ngFor="let d of departments" 
        (click)="SetDepartment(d)"
        [active]="department == d"> {{d}} </a>

        <ng-template [ngIf]="(HasCollections$ | async)">
            <div class="collection-container">
                <ng-container *actionOutlet="CollectionMenu"></ng-container>
            </div>
        </ng-template>
    </nav>
</ng-container>

<div class="element-overview" *ngIf="(Elements$ | async) as elements">
    <div class="element-container" *ngFor="let e of elements">
        <ng-template [ngIf]="e.custom_element_type == 'Group'" [ngIfThen]="group" [ngIfElse]="element"></ng-template>

        <ng-template #group>
            <h2 class="element-group">{{e.name}}</h2>
         
            <ng-container *ngIf="(e.Elements$ | async) as childElements">
                <ng-container *ngFor="let c of childElements">
                    <app-element [Element]="c"></app-element>
                </ng-container>
            </ng-container>
            
        </ng-template>

        <ng-template #element>

        </ng-template>
    </div>
</div>
-->