<div *ngIf="(ErrorMessage$ | async) as errorMessage; else overviewblock">
  <pre class="pm-console-error"> {{ errorMessage }}</pre>
</div>

<app-log-hours-dlg></app-log-hours-dlg>

<ng-template #overviewblock>
  <!-- OVERVIEW -->

  <ng-container *ngIf="(SelectedElement$ | async) as selected">
    <app-view-task-dlg [Departments]="Departments$ | async" [ProjectReference]="ProjectReference$ | async"
      [Item]="SelectedElement$ | async" [SyncBoard]="SyncBoard$ | async"
      [User]="User$ | async" (onClose)="onViewTaskClosed()">
    </app-view-task-dlg>
  </ng-container>
 
  <ng-container *ngIf="(GroupsMenu$ | async) as groupsMenu">
    <nav mat-tab-nav-bar pmTabUnderline [primaryColor]="primaryColor" style="margin-bottom:5px">

      <ng-container *ngIf="(Departments$ | async) as departments">
        <ng-container *ngIf="(Department$ | async) as department">
          <a mat-tab-link *ngFor="let d of departments" (click)="SetDepartment(d)" [active]="department.id == d.id">
            {{d.text}} </a>
        </ng-container>
        <a mat-tab-link style="font-style: italic;" *ngIf="departments.length < 1">
          No Departments Within Board.
        </a>
      </ng-container>
      <div fxLayout="row" fxLayoutAlign="end center" style="position:absolute;right:20px;">

        <div fxLayout="row" fxLayoutAlign="start end" style="margin-right:15px;height:34px">
          <mat-icon class="search-icon">search</mat-icon>
          <mat-form-field pmFocusLabel pmFocusInput [primaryColor]="primaryColor"
            style="max-width:200px;top:-9px;height:100%">
            <input matInput class="search-input" [ngModel]="NameFilter$ | async"
              (ngModelChange)="SetNameFilter($event)">
          </mat-form-field>
        </div>
        <ng-container *ngIf="(SortByMenu$ | async) as SortByMenu">
          <div class="directors-menu-container">
            <ng-container *actionOutlet="SortByMenu"></ng-container>
          </div>
          <button mat-flat-button class="reverse-sort-btn" (click)="SetReverseSorting()">
            <ng-container *ngIf="!(ReverseSorting$ | async)">
              <mat-icon class="reverse-sort-icon" >north</mat-icon>
              Ascending 
            </ng-container>
            <ng-container *ngIf="(ReverseSorting$ | async)">
              <mat-icon class="reverse-sort-icon" >south</mat-icon>
              Descending
            </ng-container>
          </button>
        </ng-container>

        <ng-container *ngIf="(DirectorsMenu$ | async) as DirectorsMenu">
          <div class="directors-menu-container">
            <ng-container *actionOutlet="DirectorsMenu"></ng-container>
          </div>
        </ng-container>

        <ng-container *ngIf="(ArtistsMenu$ | async) as ArtistsMenu">
          <div class="artists-menu-container">
            <ng-container *actionOutlet="ArtistsMenu"></ng-container>
          </div>
        </ng-container>

        <ng-container *ngIf="(StatusMenu$ | async) as StatusMenu">
          <div class="status-menu-container">
            <ng-container *actionOutlet="StatusMenu"></ng-container>
          </div>
        </ng-container>

        <div class="collection-container">
          <ng-container *actionOutlet="groupsMenu"></ng-container>
        </div>
      </div>

    </nav>
    <!-- fetch boarditems early and shareReplay -->
    <ng-container *ngIf="BoardItems$ | async"></ng-container>
    <ng-container *ngIf="SubItems$ | async"></ng-container>
    <ng-container *ngIf="!Fetching; else fetchingMonday">
      <ng-container *ngIf="(BoardItems$ | FilterItemsByDepartment$ : Department$ | FilterItemsByStatus$ : IgnoredStatus$ |
              FilterItemsByArtist$ : IgnoredArtists$ | FilterItemsByDirector$ : IgnoredDirectors$ |
              FilterItemsByName$ : NameFilter$ | TaskSortBy$ : SortBy$ : ReverseSorting$
              | async) as items; else noItems">
        <ng-container *ngIf="items.length > 0; else noItems">
          <ng-container *ngIf="(SubItems$ | async) as SubItems">
            <p-scrollPanel [style]="{width: '100%', height: '100%'}">
              <p-splitter layout="horizontal" [panelSizes]="[50,50]">
                <ng-template pTemplate>
                  <div thaResize (onResize)="onBoardsResize($event)" fxLayout="column" fxLayoutAlign="stretch stretch"
                    style="width:100%;margin-top:50px">
                    <ng-container *ngFor="let item of (items | FilterMilestones)">
                      <app-overview-boarditem [boarditem]="(item | MatchSubitemsWithBoardItem : SubItems)"
                        [Width]="BoardWidth" (itemClicked)="onItemClicked(item)" (onExpand)="onExpand(item.id)">
                      </app-overview-boarditem>
                    </ng-container>
                  </div>
                </ng-template>

                <ng-template pTemplate>
                  <div fxLayout="column" fxLayoutAlign="stretch stretch" (mousewheel)="$event.preventDefault()">
                    <app-overview-gantt [BoardItems]="items" style="height:100%;min-width:550px" [Width]="GanttWidth"
                      [Expanded]="Expanded">
                    </app-overview-gantt>
                  </div>
                </ng-template>

              </p-splitter>
            </p-scrollPanel>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
    <ng-template #fetchingMonday>
      <div fxLayout="column" fxLayoutAlign="center center" style="width:100%;height:100%">
        <div style="opacity:0.15;">
          <app-swapping-squares-spinner [animationDuration]="1000" [color]="primaryColor" [size]="120"
            style="opacity:0.15;">
          </app-swapping-squares-spinner>
        </div>
        <h3 [style.color]="primaryColor" style="margin-top:30px">
          Fetching Items from Monday...
        </h3>
      </div>
    </ng-template>
    <ng-template #noItems>
      <div fxLayout="row" fxLayoutAlgn="center center">
        <h3 style="width:100%;text-align:center;margin-top:40px">No Items have been added to the Monday database for
          this board.</h3>
      </div>
    </ng-template>
  </ng-container>
</ng-template>