<div *ngIf="(ErrorMessage$ | async) as errorMessage; else overviewblock">
  <pre class="pm-console-error"> {{ errorMessage }}</pre>
</div>

<ng-template #overviewblock>
    <!-- OVERVIEW -->
    <ng-container *ngIf="(GroupsMenu$ | async) as groupsMenu">
      <nav mat-tab-nav-bar
            pmTabUnderline [primaryColor]="primaryColor">
        <ng-container *ngIf="(Department$ | async) as department">

            <a mat-tab-link *ngFor="let d of (Departments$ | async)"
            (click)="SetDepartment(d)" [active]="department.id == d.id"> {{d.text}} </a>
          </ng-container>
          <div class="collection-container">
            <ng-container *actionOutlet="groupsMenu"></ng-container>
          </div>
      </nav>

      <div fxLayout="Row">
      <div *ngIf="(BoardItems$ | FilterItemsByDepartment$ : Department$ | async) as items" class="element-overview">
        <div class="element-row" *ngFor="let i of items">
          <div class="element-container">
            <div class="title-container">
              <div class="element-title">{{ i.element }}</div>
            </div>

            <div class="status-container">
              <div class="task-status">
                Not started
              </div>
            </div>

            <div class="task-container">
              <div class="task-description">
                {{ i.task }}
              </div>
            </div>
          </div>
          <!--
          <div class="gantt-row" fxLayout="row" [style.width]="min_halfDays*max_width">
            <div class="gantt-cell" *ngFor="let c of cells">
              A
            </div>
          </div>
        -->
        </div>
      </div>

      <!-- GANTT -->

    <app-overview-gantt></app-overview-gantt>
    </div>
    </ng-container>
  
    

</ng-template>


<!--
<ng-container *ngIf="(Department$ | async) as department">
    <nav mat-tab-nav-bar *ngIf="(Departments$ | async) as departments" pmTabUnderline [primaryColor]="primaryColor">
        <a mat-tab-link *ngFor="let d of departments"
        (click)="SetDepartment(d)"
        [active]="department == d"> {{d}} </a>

        <ng-template [ngIf]="(HasCollections$ | async)">
            <div class="collection-container">
                <ng-container *actionOutlet="CollectionMenu"></ng-container>
            </div>
        </ng-template>
    </nav>
</ng-container>
-->
