<div class="pm-page" *ngIf="(Parameters$ | async) as params">
    <div *ngIf="params.page == 'Personnel'; else applications" class="people-table" fxLayout="row" fxLayoutAlign="center center">
        <ng-container *ngIf="(AllUsers$ | async) as AllUsers; else loadingUsers">
            <table mat-table [dataSource]="AllUsers" class="mat-elevation-z8">
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

            <ng-container matColumnDef="Avatar">
                <th mat-header-cell *matHeaderCellDef style="text-align:left;padding-left:85px">User</th>
                <td mat-cell *matCellDef="let p">
                    <app-user [User]="p.graph" [Photo]="p.photo | async" [FlipText]="true" [backgroundColor]="primaryColor"
                        borderColor="black" textColor="white" borderStyle="solid" borderWidth="1px"></app-user>
                </td>
            </ng-container>

            <ng-container matColumnDef="Email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let p"> {{p.graph.mail}} </td>
            </ng-container>

            <ng-container matColumnDef="Role">
                <th mat-header-cell *matHeaderCellDef style="text-align:center"> Role </th>
                <td mat-cell *matCellDef="let p" style="text-align:center">
                    <ng-container *ngIf="p.monday">
                        {{ p.monday.title}}
                    </ng-container>
                    <ng-container *ngIf="!p.monday">
                        <span style="font-style:italic"></span>
                    </ng-container>
                </td>
            </ng-container>

            <ng-container matColumnDef="Remote">
                <th mat-header-cell *matHeaderCellDef style="text-align:center"> Remote </th>
                <td mat-cell *matCellDef="let p" style="text-align:center">
                    <ng-container *ngIf="p.monday && p.monday?.teams.indexOf('Remote') > -1">
                        <mat-icon class="role-icon">done</mat-icon>
                    </ng-container>
                </td>
            </ng-container>

            <ng-container matColumnDef="Manager">
                <th mat-header-cell *matHeaderCellDef style="text-align:center"> Manager </th>
                <td mat-cell *matCellDef="let p" style="text-align:center">
                    <ng-container *ngIf="p.monday && p.monday?.teams.indexOf('Managers') > -1">
                        <mat-icon class="role-icon">done</mat-icon>
                    </ng-container>
                </td>
            </ng-container>

            <ng-container matColumnDef="Monday">
                <th mat-header-cell *matHeaderCellDef style="text-align:center"> Monday </th>
                <ng-container *matCellDef="let p">
                    <ng-template [ngIf]="p.monday" [ngIfThen]="mondayUser" [ngIfElse]="noMonday"></ng-template>
                    <ng-template #mondayUser>
                        <ng-container [ngSwitch]="p.monday.status">
                            <td mat-cell fxLayout="row" fxLayoutAlign="center center">
                                <ng-container *ngSwitchCase="'pending'">
                                    <div fxLayout="column" fxLayoutAlign="center center">
                                        <mat-icon class="role-icon">pending</mat-icon>
                                        <div class="icon-caption">
                                            pending
                                        </div>
                                    </div>
                                </ng-container>
                                <ng-container *ngSwitchCase="'admin'">
                                    <div fxLayout="column" fxLayoutAlign="center center">
                                        <mat-icon class="role-icon">supervisor_account</mat-icon>
                                        <div class="icon-caption">
                                            admin
                                        </div>
                                    </div>
                                </ng-container>
                                <ng-container *ngSwitchCase="'view_only'">
                                    <div fxLayout="column" fxLayoutAlign="center center">
                                        <mat-icon class="role-icon">visibility</mat-icon>
                                        <div class="icon-caption">
                                            view only
                                        </div>
                                    </div>
                                </ng-container>
                                <ng-container *ngSwitchCase="'guest'">
                                    <div fxLayout="column" fxLayoutAlign="center center">
                                        <mat-icon class="role-icon">badge</mat-icon>
                                        <div class="icon-caption">
                                            guest
                                        </div>
                                    </div>
                                </ng-container>
                                <ng-container *ngSwitchDefault>
                                    <div fxLayout="column" fxLayoutAlign="center center">
                                        <mat-icon class="role-icon">person</mat-icon>
                                        <div class="icon-caption">
                                            standard
                                        </div>
                                    </div>
                                </ng-container>
                            </td>
                        </ng-container>
                    </ng-template>

                    <ng-template #noMonday>
                        <td mat-cell> <mat-icon class="no-icon">block</mat-icon></td>
                    </ng-template>
                </ng-container>
            </ng-container>

            <ng-container matColumnDef="Confluence">
                <th mat-header-cell *matHeaderCellDef style="text-align:center"> Confluence </th>
                <ng-container *matCellDef="let p">
                    <ng-template [ngIf]="p.confluence" [ngIfThen]="confUser" [ngIfElse]="noConf"></ng-template>
                    <ng-template #confUser>
                        <td mat-cell> <mat-icon class="role-icon">done</mat-icon></td>
                    </ng-template>
                    <ng-template #noConf>
                        <td mat-cell> <mat-icon class="no-icon">block</mat-icon></td>
                    </ng-template>
                </ng-container>
            </ng-container>

            <ng-container matColumnDef="SyncSketch">
                <th mat-header-cell *matHeaderCellDef style="text-align:center"> SyncSketch </th>
                <ng-container *matCellDef="let p">
                    <ng-template [ngIf]="p.sync" [ngIfThen]="syncUser" [ngIfElse]="noSync"></ng-template>
                    <ng-template #syncUser>
                        <td mat-cell> <mat-icon class="role-icon">done</mat-icon></td>
                    </ng-template>
                    <ng-template #noSync>
                        <td mat-cell> <mat-icon class="no-icon">block</mat-icon></td>
                    </ng-template>
                </ng-container>
            </ng-container>

            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </ng-container>

        <ng-template #loadingUsers>
            <div fxLayout="column" fxLayoutAlign="center center" style="width:100%;height:100%">
                <div style="opacity:0.15;margin-top:100px;">
                    <app-swapping-squares-spinner [animationDuration]="1000"
                        [color]="primaryColor"
                        [size]="120" style="opacity:0.15;">
                    </app-swapping-squares-spinner>
                </div>
                <h3 [style.color]="primaryColor" style="margin-top:30px">
                    Fetching Users from Monday, SyncSketch, Confluence and Microsoft Graph...
                </h3>
            </div>
        </ng-template>
    </div>
    <ng-template #applications>
      <app-applications></app-applications>
    </ng-template>
</div>
