<ng-container *ngIf="(Items$ | async) as Items">
    <div class="no-select" style="margin-top:32px;margin-right:32px">

        <div fxLayout="row wrap" fxLayoutGap="32px grid" fxLayoutAlign="center start">
            <ng-container *ngFor="let item of Items">
                <app-kanban-board-item [Item]="item" style="margin-bottom:32px"
                    [SubItem]="SubItems$ | GetLastSubItemByBoardItem$ : item | async">
                </app-kanban-board-item>
            </ng-container>

        </div>

    </div>

    <div *ngIf="Items.length < 1">
        <h4 style="text-align:center;margin: 0px;
            margin-top: 20px;margin-bottom:20px">
            There are no items with a status <span style="font-weight:bold">"{{Status}}"</span> that you are currently
            attached to.
        </h4>
    </div>
</ng-container>