<ng-container #tooltipCreator></ng-container>
<div *ngIf="(Tab$ | async) as tab">
  <nav mat-tab-nav-bar pmTabUnderline [primaryColor]="primaryColor">
      <a mat-tab-link *ngFor="let t of TabOptions"
      (click)="SetTab(t)" [active]="tab == t"> {{t}} </a>


    <ng-contaer *ngIf="(ViewModeMenu$ | async) as ViewModeMenu">
      <div fxLayout="row" fxLayoutAlign="end center" style="position:absolute;right:20px;"
        [style.display]="tab == 'Calendar' ? 'block' : 'none'">
          <div>
            <ng-container *actionOutlet="ViewModeMenu"></ng-container>
          </div>
      </div>
    </ng-contaer>
  </nav>
  <div>
</div>

  <ng-container *ngIf="(Me$ | async) as me">

      <div class="home-container">
    
        <div class="pm-page-wtab">      
          <ng-container [ngSwitch]="tab">
            
            <full-calendar #calendar *ngSwitchCase="'Calendar'"
              [plugins]="calendarPlugins"
              [weekends]="false"
              [options]="Options$ | async"
            ></full-calendar>

            <full-calendar #list *ngSwitchCase="'List'"
              [plugins]="listPlugin"
              [weekends]="true"
              [options]="ListOptions$ | async"
            ></full-calendar>
          </ng-container>
          
          <div style="position:fixed;bottom:20px;right:20px" fxLayout="row" fxLayoutAlign="end end">
            <button class="" addTippy mat-fab tippyText="Log Hours" (click)="OnVisibilityChange(true)">
              <mat-icon class="app-fab-icon-btn  app-center-fab-icon">more_time</mat-icon>
            </button>
          </div>
        </div>
      </div>
  </ng-container>
</div>

<app-log-hours-dlg [Show]="showHoursDlg" (visbilityChanged)="OnVisibilityChange($event)"></app-log-hours-dlg>
