
.nav-toolbar {
    position:relative;
    height:40px;
    line-height:31px;
    display:flex;
    justify-content: center;
    background:black;
}
full-calendar {
    margin: 50px 100px;
}

.fc-daygrid-event {
    padding:5px;
    border: solid 1px black;
}


nav {
    box-shadow: 0px 5px 15px -5px rgb(0 0 0 / 20%);
    height: 35px;
    overflow: hidden;
    background: white;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    position: fixed;
    z-index: 1000;
  }
  
  
  .overview-toolbar {
    position:static;
    min-height:40px;
    height:50px;
    max-height:40px;
    width:100%;
    border-bottom: solid 1px lightgray;
  }
  
  .toolbar-container {
    width:100%;
    height:100%;
    justify-content: center;
    display:flex;
    padding-top:3px;
  }
  
.home-container {
    position:relative;
    overflow: auto;
    height: calc(100vh - 75px);
}

.tooltip {
    background:white;
    color:blue;
    border: solid 1px black;
}

.highlighted-text {
    color:#3767d8;font-weight:bold;margin:0px 10px
}



.mat-checkbox-background > svg > path {
    fill: rgb(64, 120, 251) !important;
}

.mat-focused > .mat-form-field-wrapper > .mat-form-field-underline > .mat-form-field-ripple{
    background-color:rgb(64, 120, 251) !important;
}  

    .newlog-select.newlog-select {
    text-align:center;
    margin-left:5px;
    padding-left:5px;
    text-align:center
}

    mat-form-field.newlog-select {
    max-width:50px !important;
    width:50px !important;
}

.mat-mini-fab.mat-accent.app-icon-close {
    background-color: black !important; 
}
.mat-mini-fab.mat-accent {
    background-color: rgb(64, 120, 251) !important; 
}
