<ng-container #tooltipCreator></ng-container>
<div *ngIf="(Tab$ | async) as tab" class="no-select">
  <nav mat-tab-nav-bar pmTabUnderline [primaryColor]="primaryColor">
    <a mat-tab-link *ngFor="let t of TabOptions" (click)="SetTab(t)" [active]="tab == t"> {{t}}
      <ng-container *ngIf="t == 'Review'">
        <ng-container *ngIf="(RequiresReview$ | async)?.length as length">
          <p-badge class="badge-requires-review" [value]="length"></p-badge>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="t == 'Feedback'">
        <ng-container *ngIf="(ReceivedFeedback$ | async)?.length as length">
          <p-badge class="badge-received-feedback" [value]="length"></p-badge>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="t == 'Assist'">
        <ng-container *ngIf="(RequiresAssistance$ | async)?.length as length">
          <p-badge class="badge-requires-assistance" [value]="length"></p-badge>
        </ng-container>
      </ng-container>

    </a>
    <div style="position:absolute;right:20px;" fxLayout="row" fxLayoutAlign="end end">
      <ng-container *ngFor="let menu$ of [ViewProjectMenu$, ViewBoardMenu$, ViewGroupMenu$, ViewUserMenu$]">
        <ng-container *ngIf="(menu$ | async) as ViewMenu">
          <div fxLayout="row" fxLayoutAlign="end center">
            <div>
              <ng-container *actionOutlet="ViewMenu"></ng-container>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="tab == 'Schedule'">
        <ng-container *ngIf="(ViewModeMenu$ | async) as ViewModeMenu">
          <div fxLayout="row" fxLayoutAlign="end center">
            <div>
              <ng-container *actionOutlet="ViewModeMenu"></ng-container>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </nav>

  <ng-container *ngIf="(Me$ | async) as me">

    <div class="home-container">

      <div class="pm-page-wtab">
        <ng-container [ngSwitch]="tab">

          <ng-container *ngSwitchCase="'Schedule'">
            <ng-container *ngIf="(ViewMode$ | async) as ViewMode">
              <full-calendar *ngIf="ViewMode == 'Month'" [plugins]="calendarPlugins" [weekends]="false"
                [options]="Options$ | async">
              </full-calendar>

              <full-calendar *ngIf="ViewMode == 'Week'" [plugins]="listPlugin" [weekends]="false"
                [options]="WeekListOptions$ | async">
              </full-calendar>

              <full-calendar *ngIf="ViewMode == 'Day'" [plugins]="listPlugin" [weekends]="false"
                [options]="DayListOptions$ | async">
              </full-calendar>
            </ng-container>
            <div style="position:fixed;bottom:20px;right:20px" fxLayout="row" fxLayoutAlign="end end">
              <button class="" addTippy mat-fab tippyText="Log Hours" (click)="OnVisibilityChange(true)">
                <mat-icon class="app-fab-icon-btn  app-center-fab-icon">more_time</mat-icon>
              </button>
            </div>

          </ng-container>
          <div *ngSwitchCase="'Review'">
            <app-kanban-board [primaryColor]="primaryColor" [SubItems$]="SubItems$" Status="Waiting Internal Review"
              [Items$]="RequiresReview$"></app-kanban-board>
          </div>

          <div *ngSwitchCase="'Feedback'">
            <app-kanban-board [primaryColor]="primaryColor" [SubItems$]="SubItems$"
              Status="Receieved Client Feedback, Received Internal Feedback" [Items$]="ReceivedFeedback$">
            </app-kanban-board>
          </div>

          <div *ngSwitchCase="'Assist'">
            <app-kanban-board [primaryColor]="primaryColor" Status="Requires Assistance" [SubItems$]="SubItems$"
              [Items$]="RequiresAssistance$"></app-kanban-board>
          </div>

          <div *ngSwitchCase="'Chart'">
            <app-itemchart></app-itemchart>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>

<app-log-hours-dlg [Show]="showHoursDlg" (visbilityChanged)="OnVisibilityChange($event)"></app-log-hours-dlg>