<div class="pm-page">
    <div *ngFor="let hook of (Webhooks$ | async)" style="margin-left:30px;margin-top:30px;">
        <ng-container *ngIf="(hook.target.id | GetBoxFolderInfo$ | async) as folder">

            <h2 style="margin-bottom:0px;padding-bottom:0px;font-weight:bold">{{folder.parent.name}}, {{folder.name}}
            </h2>
            <div style="margin-left:30px">
                <div>hook id: {{hook.id}}</div>
                <div>folder id: {{folder.id}}</div>
            </div>
        </ng-container>
    </div>

    <div class="task-btn-container" fxLayout="column" style="right:20px;bottom:20px;position:absolute">
        <button mat-fab tippyText="Add Box Webhook" (click)="OnAddWebhook()">
            <mat-icon class="app-fab-icon-btn app-center-fab-icon">add</mat-icon>
        </button>
    </div>
</div>

<app-add-webhook-dlg [primaryColor]="primaryColor"></app-add-webhook-dlg>