.box-header-title {
    color:white !important;
    font-weight:bold;
    font-size:22px;
    padding:12px 30px;
}

.box-workspace {
    box-shadow: inset 0px 15px 15px -10px rgb(0 0 0 / 40%), 0px 0px 5px 5px rgb(0 0 0 / 20%);
    border-bottom:solid 1.5px black;
}
.box-workspace-title {
    color:white !important;
    font-weight:bold;
    font-size:15px;
    padding:8px 30px;
}

.box-header {
    background:black;
}

.nav-user {
    position:absolute;
    right:15px;
    top:2px;
    width:200px;
    font-family:Arial;
    color: #DDD;
}
