
<ng-container *ngIf="Item">
    <div class="kanban-item-container no-select;position:relative" fxFlex="grow" fxLayout="column" fxLayoutAlign="stretch stretch"
    [ngClass]="{'hovering' : Hovering}">
        <ng-container *ngIf="(Item.status | GetTaskStatus) as Status">
            <div fxLayout="column" class="kanban-header" [style.background]="Status.color">
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <div class="kanban-workspace" style="opacity:0.5">{{Item.workspace.name}}</div>
                    <div style="opacity:0.7">{{Item.board.name}}</div>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between" style="margin-top:10px">
                    <div>{{Item.name}}</div>
                </div>
            </div>

            <div class="kanban-contents" fxLayout="column" fxLayoutAlign="stretch stretch" fxFlex="grow">
                <div style="width:100%;position:relative;color:black;padding:0px 20px" fxLayout="column"
                    fxLayoutAlign="center center">
                    <ng-container *ngIf="SubItem; else noSubItems">
                        <h4 style="text-align:left;width:100%;font-weight:bold;    padding: 10px 10px 0px 5px;
                       margin: 0px 20px;
                        border-bottom:solid 2px gray" [style.border-color]="Status.color">
                            {{SubItem.name}}
                        </h4>
                        <ng-container
                            *ngIf="(Item | FindSyncReview$ | FindSyncItem$ : SubItem | async) as SyncItems; else fetchingItems">
                            <ng-container *ngFor="let SyncItem of SyncItems">

                                <app-sync-item 
                                    [parent]=""
                                    [item]="SyncItem" [Status]="Status" [LastUpdateOnly]="true"
                                    [ShowViewHint]="false">
                                </app-sync-item>
                            </ng-container>

                            <ng-container *ngIf="SyncItems.length < 1">
                                <h4 style="text-align:center;margin: 0px;
            margin-top: 20px;margin-bottom:20px">No <span style="font-weight:bold">"SyncSketch"</span> Items for Review
                    have
                    been uploaded.</h4>
                            </ng-container>
                        </ng-container>
                    </ng-container>

                </div>
            </div>

            <div fxLayout="column" class="kanban-footer" [style.background]="Status.color">
                <div fxLayout="row" fxLayoutAlign="space-between center" style="opacity:0.7">
                    <div>{{Item.timeline?.text | timeline}}</div>
                    <div>{{Status.text}}
                        <span *ngIf="Item.caption?.text">- {{Item.caption.text}}</span>
                    </div>
                </div>

            </div>


            <ng-template #noSubItems>
                <h4 style="text-align:center;margin: 0px;height:100%;
            margin-top: 20px;margin-bottom:20px">No <span style="font-weight:bold">"SyncSketch"</span> Items for Review
                    have
                    been uploaded.</h4>
            </ng-template>

            <ng-template #fetchingItems>
                <div fxLayout="column" fxLayoutAlign="center center" style="width:100%;height:100%;margin-top:20px">
                    <app-swapping-squares-spinner [animationDuration]="1000" [size]="120" [color]="Status.color"
                        style="opacity:0.15;">
                    </app-swapping-squares-spinner>
                    <h3 [style.color]="Status.color" style="margin-top:30px">Fetching
                        Items
                        from SyncSketch...</h3>
                </div>
            </ng-template>
        </ng-container>

    </div>
</ng-container>