
<app-navigation
  [IsCeloxisReachable]="IsMondayReachable"
  [IsAuthorized]="IsAuthorized"
  [MyPhoto]="MyPhoto"
  [User]="User"></app-navigation>

<div class="container">

  <ng-template [ngIf]="IsMondayReachable && IsAuthorized">
    <ng-template [ngIf]="MondayExhausted" [ngIfThen]="exhausted" [ngIfElse]="mondayReady"></ng-template>
    <ng-template #mondayReady>
      <router-outlet></router-outlet>
    </ng-template>

    <ng-template #exhausted>
      <h3>Monday complexity exceeded</h3> 
      <h3>Automatically Resuming in {{ MondayExhausted }}...</h3>
    </ng-template>
  </ng-template>

  <ng-template [ngIf]="!IsMondayReachable">
    <h3>"Monday" is Unreachable.</h3>
  </ng-template>

  <ng-template [ngIf]="!IsAuthorized">
    <h3>You are not logged in.</h3>
  </ng-template>
</div>
