app-navigation {
    position:fixed;
    width:100vw;
    overflow:hidden !important;
    background: black !important;
    z-index:1000;
    top:0px
}

h3 {
    margin:15px;
    font-family:Calibri;
}

.container {
    width:100%;
    z-index:1;
    margin-top:71px;
    display:grid;
}

.tooltip-container {
    padding:5px;
    background:white;
    font-family: Delius;
}

