<ng-container *ngIf="(NavigationMenu$ | async) as NavigationMenu">

  <app-navigation [NavigationMenu]="NavigationMenu" [IsCeloxisReachable]="IsMondayReachable"
    [IsAuthorized]="IsAuthorized" [MyPhoto]="MyPhoto" [User]="User"></app-navigation>

  <p-toast></p-toast>

  <div class="container" [style.margin-top.px]="MarginTop">
    <ng-template [ngIf]="IsMondayReachable">
      <p-dialog [(visible)]="MondayExhausted" [modal]="true" [dismissableMask]="true" [showHeader]="false" 
      [style]="{width: '50vw', 'border-radius': '10px'}">

        <div fxLayout="column" fxLayoutAlign="center center">
          <h3 style="margin-bottom:0px;padding-bottom:0px;font-weight:bold;font-size:15;">Monday complexity exceeded
          </h3>
          <h3 style="margin-top:5px">Automatically Resuming in {{ MondayExhausted }}...</h3>
        </div>
      </p-dialog>

      <router-outlet></router-outlet>

    </ng-template>

    <ng-template [ngIf]="!IsMondayReachable">
      <h3>"Monday" is Unreachable.</h3>
    </ng-template>

    <ng-template [ngIf]="!IsAuthorized">
      <h3>You are not logged in.</h3>
    </ng-template>

  </div>
</ng-container>