
<app-navigation 
  [IsCeloxisReachable]="IsCeloxisReachable" 
  [IsAuthorized]="IsAuthorized"
  [MyPhoto]="MyPhoto"
  [User]="User"></app-navigation>
<div class="container">
  <!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
  <router-outlet *ngIf="!IsAuthorized && IsCeloxisReachable"></router-outlet>

  <ng-template [ngIf]="!IsCeloxisReachable">
    <h3>Celoxis is Unreachable.</h3>
  </ng-template>

  <ng-template [ngIf]="!IsAuthorized">
    <h3>You are not logged in.</h3>
  </ng-template>
</div>