
<p-dialog [(visible)]="Show" [modal]="true" [dismissableMask]="true" [showHeader]="false"
[style]="{width: '50vw', 
          background: 'white',
          padding:'5px',
          'border-radius' : '5px',
          'box-shadow': '5px 15px 20px 0px rgb(0 0 0 / 30%)',
          border: 'solid 1px black'}">
  <div style="background: white !important;padding:20px" fxLayout="column">
    <h2 style="margin-bottom:10px;color: #3767d8;">I am loggin hours for...</h2>

    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field style="max-width:120px" pmStyleOverride>
        <input matInput [matDatepicker]="picker" [(ngModel)]="NewLog.date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div style="margin-left:20px;margin-right:10px">at</div>
      <mat-form-field class="newlog-select">
        <mat-select [(ngModel)]="NewLog.hour" class="newlog-select newlog-select-minutes">
          <mat-option *ngFor="let hr of HourOptions" [value]="hr">{{hr}}</mat-option>
        </mat-select>
        
      </mat-form-field>
      <span style="padding-left:20px;padding-right:5px">:</span>
      <mat-form-field class="newlog-select">
        <mat-select [(ngModel)]="NewLog.minute" class="newlog-select newlog-select-minutes">
          <mat-option *ngFor="let min of MinuteOptions" [value]="min">{{min}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="newlog-select">
        <mat-select [(ngModel)]="NewLog.half" class="newlog-select newlog-select-minutes">
          <mat-option value="AM">AM</mat-option>
          <mat-option value="AM">PM</mat-option>
        </mat-select>
      </mat-form-field>

      <div style="margin-left:40px">for a <span class="highlighted-text">duration</span> of</div>

      <mat-form-field class="newlog-select">
        <mat-select [(ngModel)]="NewLog.duration_hours" class="newlog-select newlog-select-minutes">
          <mat-option *ngFor="let hr of HourOptions" [value]="hr">{{hr}}</mat-option>
        </mat-select>
      </mat-form-field>

      <div style="margin-left:10px"><span class="highlighted-text" style="margin-right:0px">hours</span>,</div>
      <mat-form-field class="newlog-select">
        <mat-select [(ngModel)]="NewLog.duration_minutes" class="newlog-select newlog-select-minutes">
          <mat-option *ngFor="let min of MinuteOptions" [value]="min">{{min}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div style="margin-left:10px"><span class="highlighted-text">minutes</span></div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" style="margin-top:0px;height:56px">
      <div>on<span class="highlighted-text">Project</span></div>

        <mat-form-field style="width:100%;margin-right:20px">
          <mat-select [ngModel]="NewLog.SelectedBoard$ | async" (ngModelChange)="NewLog.SetBoard($event)"
          style="margin-left:5px;padding-left:5px;">
            <mat-option *ngFor="let b of (NewLog.Boards$ | async)" [value]="b">{{b.selection}}</mat-option>
          </mat-select>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" style="margin-top:0px;height:56px" *ngIf="(NewLog.SelectedBoard$ | async)">
      <div>on<span class="highlighted-text">Task</span></div>
      <mat-form-field style="width:100%;margin-right:20px">
          <mat-select [ngModel]="NewLog.SelectedTask$ | async" (ngModelChange)="NewLog.SetTask($event)"
          style="margin-left:5px;padding-left:5px;">
            <mat-option *ngFor="let t of (NewLog.Items$ | async)" [value]="t">{{t.selection}}</mat-option>
          </mat-select>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" style="margin-top:0px;height:56px">
      <div style="margin-right:20px">on</div>
      <mat-checkbox class="example-margin" [(ngModel)]="NewLog.IsRevision">Revision</mat-checkbox>
    </div>
    <div fxLayout="row" fxLayoutAlign="end end" style="margin-top:20px">
      <button mat-mini-fab tippyText="Submit" (click)="ChangeVisibility(false)" style="margin-right:10px" class="app-icon-close">
        <mat-icon class="app-fab-icon-btn  app-center-fab-icon">close</mat-icon>
      </button>

      <button mat-mini-fab tippyText="Submit" (click)="NewLog.Submit()">
        <mat-icon class="app-fab-icon-btn app-center-fab-icon">done</mat-icon>
      </button>
    </div>
  </div>
</p-dialog>

