<div class="support-item-container no-select" [ngClass]="{'hovering' : Hovering}" fxFlex="grow" fxLayout="column" fxLayoutAlign="stretch stretch">
    <div fxLayout="column" class="support-header" [style.background]="Item.status.color">
        <div fxLayout="row" fxLayoutAlign="space-between">
            <div class="support-workspace" style="opacity:0.5">{{Item.workspace.name}}</div>
            <div style="opacity:0.7">{{Item.group.title}}</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between" style="margin-top:10px">
            <div>{{Item.name}}</div>
        </div>
    </div>
    <div class="support-contents" fxLayout="column" fxLayoutAlign="space-between">
        <div *ngIf="Item.description; else noDescription" [innerHTML]="Item.description"></div>
        <ng-template #noDescription>
            <div style="font-weight:italic">No Description</div>
        </ng-template>
        <div fxLayout="row" fxLayoutAlign="end end" stle="font-weight:bold">{{Item.issuer.name}}</div>
    </div>

    <div fxLayout="column" class="support-footer" [style.background]="Item.status.color">
        <div fxLayout="row" fxLayoutAlign="space-between center" style="opacity:0.7">
            <div>{{Item.updated_at | date : 'medium'}}</div>
            <div>{{Item.status.text}}</div>
        </div>

    </div>
</div>