<p-dialog #viewTaskDlg [(visible)]="Show" [modal]="true" [dismissableMask]="true" [showHeader]="false"
[style]="{width: '75vw', 
          background: 'white',
          'border-radius' : '5px',
          'box-shadow': '5px 15px 20px 0px rgb(0 0 0 / 30%)',
          border: 'solid 1px black'}">
    <ng-container *ngIf="Item">
        <ng-container *ngIf="(Item?.status | GetTaskStatus) as Status">
                

                <div style="background: white !important;width:100%" fxLayout="column">
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="task-dlg-header"
                         [style.border-bottom-color]="Status.color">
                        <h2 class="dialog-header view-task-header">
                            {{Item?.name}}
                            <span *ngIf="Item?.department">({{Item?.department | ArrayToStr : 'text'}})</span>
                        </h2>
                        <h2 class="dialog-status-header" [style.color]="Status.color">
                            {{Status.text}}
                        </h2>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start stretch">
                        <mat-toolbar fxLayout="column" fxLayoutAlign="end stretch" class="side-dlg-toolbar">
                            <ng-container *ngFor="let subitem of (SubItems$ | async)">
                                <button mat-flat-button [active]="subitem?.id == SelectedSubItem" (click)="SelectedSubItem = subitem.id"> 
                                    {{subitem.name}}
                                 </button>
                            </ng-container>
                            <button mat-flat-button [active]="Item?.id == SelectedSubItem" (click)="Item.id = subitem.id"> Task </button>  
                            <div style="height:100%"></div>
                        </mat-toolbar>

                        <div fxLayout="row" fxLayoutAlign="start center" *ngIf="(View$ | async) as View" 
                        style="width:100%;height:100%;padding:20px;">
                            {{View | json}}
                        </div>
                    </div>
                </div>
        </ng-container>
    </ng-container>
</p-dialog>
