<nav mat-tab-nav-bar pmTabUnderline [primaryColor]="primaryColor">
  <div fxLayout="row" fxLayoutAlign="end end" style="width:100%;margin-right:30px">
    <ng-container *ngIf="(SortByMenu$ | async) as SortByMenu">
      <div class="directors-menu-container">
        <ng-container *actionOutlet="SortByMenu"></ng-container>
      </div>
      <button mat-flat-button class="reverse-sort-btn" (click)="SetReverseSorting()">
        <ng-container *ngIf="!(ReverseSorting$ | async)">
          <mat-icon class="reverse-sort-icon">north</mat-icon>
          Ascending
        </ng-container>
        <ng-container *ngIf="(ReverseSorting$ | async)">
          <mat-icon class="reverse-sort-icon">south</mat-icon>
          Descending
        </ng-container>
      </button>
    </ng-container>
  </div>


</nav>
<div fxLayout="row" fxLayoutAlign="center center" style="width:100%;margin-top:20px">
  <div fxLayout="column" style="min-width:800px;width:100%;max-width:calc(100vw - 300px)">
    <ng-container *ngIf="(Responses$ | async) as Responses">
      <div *ngFor="let res of Responses" style="padding:10px">
        <app-application [Applicant]="res"></app-application>
      </div>
      <div *ngIf="Responses.length < 1" style="width:100%;text-align:center">
        <h2>There have been no applications submitted for this Typeform</h2>
      </div>
    </ng-container>
  </div>
</div>