
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@include mat-core();
$project-mgr2-primary: mat-palette($mat-indigo);
$project-mgr2-accent: mat-palette($mat-pink, A200, A100, A400);
$project-mgr2-warn: mat-palette($mat-red);
$project-mgr2-theme: mat-light-theme((
  color: (
    primary: $project-mgr2-primary,
    accent: $project-mgr2-accent,
    warn: $project-mgr2-warn,
  )
));
@include angular-material-theme($project-mgr2-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button.mat-menu-item, .mat-menu-item {
  line-height:30px !important;
  height:30px !important;
}
.mat-menu-item:hover:not([disabled]), .mat-menu-item.cdk-program-focused:not([disabled]), .mat-menu-item.cdk-keyboard-focused:not([disabled]), .mat-menu-item-highlighted:not([disabled]) {
  background: rgba(0, 0, 0, 0.1);
}

.mat-tab-header {
  height: 35px;
}
.mat-tab-link {
  height:35px !important;
}

.mat-icon {
  padding: 0px 5px;
}
.mat-menu-content:not(:empty) {
  padding:0px !important;
}
.mat-menu-panel {
  min-height:unset !important;
}
.pm-console-error{
  margin: 15px;
  text-align: center;
  font-size: 20px;
  font-family: 'Roboto';
}

svg > g > text{ fill: #444}
svg > g > line { fill: #222 }