
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import './../node_modules/primeng/resources/primeng.min.css';
@import './../node_modules/primeicons/primeicons.css';
@import './../node_modules/primeflex/primeflex.css';
@import './../node_modules/dhtmlx-gantt/codebase/dhtmlxgantt.css';

@include mat-core();
$project-mgr2-primary: mat-palette($mat-indigo);
$project-mgr2-accent: mat-palette($mat-pink, A200, A100, A400);
$project-mgr2-warn: mat-palette($mat-red);
$project-mgr2-theme: mat-light-theme((
  color: (
    primary: $project-mgr2-primary,
    accent: $project-mgr2-accent,
    warn: $project-mgr2-warn,
  )
));

$custom-typography: mat-typography-config(
  $font-family: 'Delius',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);
@include angular-material-theme($project-mgr2-theme);

@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';
/* You can add global styles to this file, and also import other style files */

$font: 'Delius' !important;

.mat-body, .mat-body-1, .mat-typography, a, div, input, span {
  font-family: Delius;
  letter-spacing: 0.25px !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: $font;
overflow:hidden!important;}

button.mat-menu-item, .mat-menu-item {
  line-height:30px !important;
  height:30px !important;
}
.mat-menu-item:hover:not([disabled]), .mat-menu-item.cdk-program-focused:not([disabled]), .mat-menu-item.cdk-keyboard-focused:not([disabled]), .mat-menu-item-highlighted:not([disabled]) {
  background: rgba(0, 0, 0, 0.1);
}

.mat-tab-header {
  height: 35px;
}

.mat-tab-link {
  height:35px !important;
  min-width: 100px !important;
  //font-weight:bold;
  //color:black;
}

.mat-tab-link.mat-tab-label-active {
  opacity: 1 !important;
  font-weight:bold !important;
}
.mat-icon {
  padding: 0px 5px;
}
.mat-menu-content:not(:empty) {
  padding:0px !important;
}
.mat-menu-panel {
  min-height:unset !important;
}
.pm-console-error{
  margin: 15px;
  text-align: center;
  font-size: 20px;
  font-family: $font;
}

.mat-mini-fab .v-mini {
  width:25px !important;
  height:25px !important;
}

.collection-container > .action-mat-group > .mat-button,

.status-menu-container > .action-mat-group > .mat-button {
  color:#555;
}

.status-menu-container > .action-mat-group > .mat-button {
  color:#555;
}

.action-mat-group > .mat-button > .mat-button-wrapper > span {
  margin-left:10px;
}

.mat-menu-content > div > mat-divider {
  color: black;
  height: 0.2px;
  background:#aaa !important;
}

.mat-menu-content > div > button > .mat-icon {
  margin-right: 0px;
  font-weight:bold;
  font-size: 19px;
  padding-top: 3px;
}

mat-form-field > input {
  border: none;
  outline: none;
  border-bottom: solid 1px lightgray;
}

/*
action-mat-group > button > span > span {
  //font-weight:bold;
  opacity: 0.87;
}
action-mat-group > button > span > mat-icon {
  opacity: 0.5;
  color: black;
}*/

.fc, .fc-toolbar-title {
  font-family: 'Delius' !important;
}

.nav-toolbar > action-mat-group > button > span > mat-icon {
  opacity: 1;
  color: white;
}

.fc-daygrid-event {
  overflow:hidden;
  padding:3px;
  height:40px;
  padding-left:10px;
  border: solid 1px black;
  font-family: 'Delius' !important;
  font-size:12px;
  font-weight:lighter;
  letter-spacing:0.25px;
  border: solid 1px black !important;
  border-radius:5px !important;
  //opacity:0.7 !important;
}
.fc-daygrid-event:hover {
  opacity:1 !important;
}
.fc-daygrid-bg-harness > .fc-bg-event.milestone-item {
  background: #646477!important;
  color: white !important;
  font-size: 15px !important;
  opacity: 1 !important;
}

th.fc-col-header-cell.fc-day.fc-day-sun,
th.fc-col-header-cell.fc-day.fc-day-mon,
th.fc-col-header-cell.fc-day.fc-day-tue,
th.fc-col-header-cell.fc-day.fc-day-wed,
th.fc-col-header-cell.fc-day.fc-day-thu,
th.fc-col-header-cell.fc-day.fc-day-fri,
th.fc-col-header-cell.fc-day.fc-day-sat {
  background:white !important;
  box-shadow:none;
  height:30px;
}
.fc .fc-col-header-cell-cushion {
  display: inline-block;
  padding: 2px 4px;
  line-height: 30px;
}

.fc-event-title {
  letter-spacing: 0.5px !important;
  font-size:12px;
}
.fc-event-main {
  font-size:13px;
  color: white;
  opacity: 1;
  font-weight: bold;
}
.fc-day {
  //box-shadow: inset 0px 0px 50px 0px rgb(0 0 0 / 15%);
  background: #fafafa !important;
}
.fc-day-sun, .fc-day-sat {
  box-shadow: inset 0px 0px 50px 0px rgb(0 0 0 / 5%);
    background: #c0c6ce !important;
}
.fc-day-today {
  background: #fffad252 !important;
    box-shadow: inset 0px 0px 100px 0px #ffa90b0f;
}

.fc-theme-standard td, .fc-theme-standard th {
  border: 1px solid #c7c7c7;
}

.fc-event-time {
  margin-right: 10px !important;
}

app-home {
  width:100%;
}

nav { 
  overflow:hidden
}

.fc-button-primary:focus {
  box-shadow:none !important;
}

.log-item {
  border:none !important;
}



.app-fab-icon-btn {
  font-size: 30px;
    font-weight: bold;
    line-height: 0px;
    height: 0px !important;
    width: auto !important;
    margin: auto;
    padding: 0px;
}

.cdk-overlay-container {
  z-index:1002 !important;
}

.app-fab-icon-btm, .app-center-fab-icon {
  margin-top:-3px;
}


h1 {
  font-family:$font;
}
h2 {
  font-family:$font;
}
h3 {
  font-family:$font;
}
h4 {
  font-family:$font;
}

h5 { 
  font-family:$font;
}
h6 {
  font-family:$font;
}

p-dialog {
  font-family:$font;
  overflow: hidden !important;
}

.mat-form-field-underline {
  background-color:gray !important;
}


.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #ffffff;
  border: solid 1.5px black !important;
}

mat-checkbox[ng-reflect-model="false"] > label > .mat-checkbox-inner-container > .mat-checkbox-background > svg > path {
  opacity:0;
  transform: scale(2) translateY(-6px) translateX(-5px);
}
mat-checkbox[ng-reflect-model="true"] > label > .mat-checkbox-inner-container > .mat-checkbox-background > svg > path {
  opacity:1;
  transform: scale(2) translateY(-6px) translateX(-5px);
}

.mat-mini-fab.mat-accent.app-icon-close {
  background-color: black !important; 
}

.newlog-select.newlog-select {
  text-align:center;
  margin-left:5px;
  padding-left:5px;
  text-align:center
}

mat-form-field.newlog-select {
  max-width:50px !important;
  width:50px !important;
}

.mat-ripple-element {
  background-color: rgba(190, 190, 190, 0.2);
}
.p-dialog-content {
  overflow: hidden !important;
  display:flex !important;
}

p-scrollpanel.viewTaskScroll > .p-scrollpanel >  .p-scrollpanel-wrapper > .p-scrollpanel-content {
  height: 100% !important;
  padding:0px !important;
}
.p-dialog {
  box-shadow: rgb(0 0 0 / 30%) 5px 15px 20px 0px !important;
  background:white !important;
}

.no-select, div.no-select, span.no-select {
  user-select: none; /* standard syntax */
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

.p-dialog-content {
  border-radius: 10px;
  /* border-radius: 15px; */
  //background: black;
  border: solid 1px black;
  box-shadow: rgb(0 0 0 / 30%) 5px 15px 20px 0px;
  overflow:hidden;
  height:100%;
}

.p-dialog-content > div > div > action-mat-group > button > span.mat-button-wrapper > mat-icon {
  color: white !important;
  position: absolute;
  left: 4px;
  top: 9px;
  /* width: 60px; */
  min-width: 50px;
  /* max-width: 50px; */
  padding: 0px;
  opacity: 1;
  font-size: 35px;
}

.p-dialog-content > div > div > action-mat-group > button  {
  padding: 0px;
  margin: 0px;
  top: 0px;
  left: 0px;
  position: absolute;
  border-radius: 0px;
  min-width:50px
}

@mixin set-component-colors($primary, $component) { 
  #{$component} {
    .mat-checkbox-background > svg > path {
      fill: $primary;
    }
    .mat-checkbox-checked .mat-checkbox-checkmark-path {
      fill: transparent !important;
  }

    .mat-focused > .mat-form-field-wrapper > .mat-form-field-underline > .mat-form-field-ripple{
      background-color:$primary
    }  

    .log-hours-container {
      background: transparent !important;
      border: none !important;
      color: $primary;
      position: relative;
      left:0px;
      opacity: 0.3;
      top: -30px;
    }
    .log-hours-container:hover {
      opacity: 1 !important;
    }
    
    .log-hours-container > mat-button > mat-icon {
      color:$primary;
    }

    .dialog-header {
      margin-bottom:10px;
      color: $primary;
      font-family: $font;
      font-size:18px;
      font-weight:bold;
    }
    .dialog-status-header {
      margin-top: 5px;
      font-size:18px;
      font-family: $font;
      font-weight:bold;
      margin-right:7px;
    }
    .dialog-header.view-task-header {
      color: black !important;
    }

    .primary-text {
      color: $primary;
    }
    .primary-bg {
      background-color: $primary;
    }

    .mat-input-element {
      caret-color: $primary;
    }

    .mat-form-field.mat-focused .mat-form-field-label {
      color: $primary;
    }

    div.p-dialog[role=dialog]:not(empty), div.p-dialog[role=dialog]:not(empty) > .p-dialog-content {
      background: transparent !important;
    }

    div.p-dialog[role=dialog]:empty, div.p-dialog[role=dialog]:empty > .p-dialog-content {
      box-shadow:none !important;
    }
    mat-toolbar.side-dlg-toolbar {
        background: transparent;
        //box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 25%);
        padding: 0px;
        width: unset;
        min-width: 220px;
        min-height: 100%;
        height: fit-content;         /* WebKit-based browsers will ignore this. */
        align-self: stretch;
        padding-bottom: 90px;
    }

    mat-toolbar.side-dlg-toolbar > .mat-flat-button {
      //padding:3px 8px;
      font-family: $font;
      position:relative;
      text-align:right !important;
      font-size:12px;
      color:gray;
      background:transparent;
    }
    
    mat-toolbar.side-dlg-toolbar > .mat-flat-button.side-btn-active {
      color:black !important;
      font-weight: bold !important;
    }

    mat-toolbar.side-dlg-toolbar > .mat-flat-button > .mat-button-wrapper > .side-btn-active {
      //background-color: $primary;
      right:0px;
      width:3px;
      top:0px;
      position:absolute;
      height:100%;
      //background-color: $primary;
    }

    

    mat-toolbar.side-dlg-toolbar > .mat-flat-button > .mat-button-wrapper > .side-btn-inactive {
      opacity: 0;
      background-color:transparent !important;
      right:0px;
      width:2px;
      top:0px;
      position:absolute;
      height:100%;
    }

    mat-toolbar.side-dlg-toolbar > .mat-button-disabled {
      background: transparent !important;
      height:30px !important;
    }
    mat-toolbar.side-dlg-toolbar > .mat-button-disabled > .mat-button-wrapper > .side-btn-inactive{
      font-style: italic;
      color: #acacac;
      font-size: 12px;
      opacity: 1;
      text-align: right;
      padding-right:10px;
      width: 100%;
      height: 30px !important;
    }
  }
}


@include set-component-colors(
  $primary: rgb(64, 120, 251) !important,
  $component: "app-home",
);

@include set-component-colors(
  $primary: rgb(0, 152, 118) !important,
  $component: "app-overview",
);

p-toastitem {
  $success: rgb(0, 152, 118);
  $info: rgb(153, 87, 255);
  $error: rgb(200, 0, 81);

  .p-toast-message-success > div {
    background: $success;
    /* border: solid #000000; */
    border: solid 2px black;
    border-width: 2px !important;
    color: white;
    border-radius: 10px;
  }
  .p-toast-message-info > div {
    background: $info;
    /* border: solid #000000; */
    border: solid 2px black;
    border-width: 2px !important;
    color: white;
    border-radius: 10px;
  }

  .p-toast-message-error > div {
    background: $error;
    /* border: solid #000000; */
    border: solid 2px black;
    border-width: 2px !important;
    color: white;
    border-radius: 10px;
  }

  div.p-toast-message {
    background: transparent !important;
    border: none !important;
    border-width: 0px !important;
    border-radius: 10px !important;
    margin: 0px !important;
  }

  button {
    color: white !important;
    -webkit-text-stroke: 2px;
    opacity: 0.35;
  }

  .p-toast-message-icon {
    -webkit-text-stroke: 3px;
    opacity: 0.5;
    color:white !important;
  }

  .p-toast-message-text {
    opacity:0.8;
  }
}

@include set-component-colors(
  $primary: rgb(0, 152, 118) !important,
  $component: "app-settings",
);

@include set-component-colors( 
  $primary: rgb(200, 0, 81) !important,
  $component: "app-system",
);

span.p-button.p-component, p-button > button, .p-button {
  background: gray !important;
  color: white !important;
  border-color:black !important;
  box-shadow:none !important;
}

span.p-button.p-component:hover, p-button > button:hover, .p-button:hover {
  background: black !important;
}
.p-fileupload .p-fileupload-buttonbar {
  border: none !important;
  background: transparent !important;
  padding: 1rem;
}
.p-fileupload .p-fileupload-content {
  background: transparent !important;
  border:none !important;
  border-top: 2px solid lightgray;
  border-left:none !important;
  border-right:none !important;
  border-bottom:none !important;
}
.p-fileupload-buttonbar {
  display: flex;
  justify-content: center;
}
p-fileupload {
  width: 100%;
  display: flex;
  justify-content: center;
}
.p-fileupload-row > div:not(empty) {
  width: 100%;
}

.reference-thumbnail {
  border-radius: 10px;
  border: inset 2px;
  border-color: black;
  height:260px !important;
  width:260px !important;
  max-width:260px !important;
  min-width:260px !important;
  min-height:260px !important;
  max-height:260px !important;
  overflow:hidden !important;
  opacity: 1
  //margin: 25px;
}
.reference-thumbnail:hover {
  box-shadow: 10px 10px 10px 0px rgb(0 0 0 / 50%) !important;
  opacity:0.5 !important;
}

p-scrollpanel {
  flex-grow: 10000;
}

.gantt_hor_scroll { 
  visibility:hidden !important;
};

.gantt_ver_scroll { 
  visibility:hidden !important;
};
mat-divider {
  width: 100%;
  height: 0.1px;
  background: gray;
  margin-top: 20px;
}

.mat-fab.mat-accent, .mat-mini-fab.mat-accent {
  background-color: gray;
  color: white;
}

.mat-fab.mat-accent, .mat-mini-fab.mat-accent:hover {
  background-color: black;
}

app-navigation {

  action-mat-group > button {
    margin: 0px 20px !important;
  } 

  .nav-toolbar > div > action-mat-button > button {
    padding: 0px 30px !important;
  }

  .pm-active-nav > action-mat-group > button > .mat-button-wrapper > mat-icon {
    color: inherit !important;
  }
  button:not([aria-label]) > .mat-button-wrapper > mat-icon {
    color: inherit;
  }

  button > .mat-button-wrapper > mat-icon:hover {
    color: inherit;
  }

  button > .mat-button-wrapper > span {
    display:none;
  }


  button {
    padding: 0px 0px !important;
  }
  button[aria-label] {
    height:70px;
    border-radius:0px;
    color:white !important;

  }
  button[aria-label] > .mat-button-wrapper > mat-icon {
    margin-top: -30px;
  }

}

nav {
  z-index:100 !important;
}

.bp-btn-print {
  display:none !important;
}

.bp-default-logo {
  display:none !important;
}
.bp-header-container {
  display:none !important;
}

div.bp-header-container > div > .bp-default-logo {
  display:none !important;
}
.bp-header-container:not(.bp-is-hidden)+.bp:not(.bp-is-fullscreen) {
   top: 0px !important;
}

.bp.bp-dark {
  background-color: white !important;
}

.p-colorpicker > input {
  width: 30px;
  height: 30px;
  margin-top:10px;
}

.bcu-footer-left {
  display:none !important;
}

.bcu-footer-right > button > .btn-content {
  font-size:20px; 

}

.bcu-footer-right {
  justify-content: center;
    width: 100%;
    display: flex;
}
.bcu-footer-right > button {
  height: 40px;
  width: 100px;
}

.mat-tab-label, .mat-tab-link {
  font-family: unset !important;
  padding:0px 5px !important;
}
.p-splitter.p-component.p-splitter-horizontal {
  display:flex;
  height:100%;
}
div.gantt_layout_cell.scrollVer_cell {
  display:none !important;
}
.leader-line {
  z-index: 1;
}

.fc-toolbar-chunk {
  display:flex !important;
}
nav {
  background: white;
}

.status-option {
  color:white !important;
  border:solid 1px black !important;
  font-family: Delius !important;
  padding: 0px 15px !important;
  line-height: 12px !important;
  height: 30px !important;
  font-size: 12px !important;
  text-align: center;
  font-weight: bold;
  box-shadow: inset 0px 0px 10px 0px rgb(0 0 0 / 10%);
}
.status-option:hover {
  background: lightgray !important;
  color: black !important;
}

.p-toast.p-component {
  opacity: 1;
}
app-overview {

  app-overview-gantt > div > div, app-overview-gantt > div, app-overview-gantt {
    height:100% !important;
  }

  .gantt_task_row.gantt_selected .gantt_task_cell {
    border-right-color: #ddd;
  }

  .p-scrollpanel-content {
    height: calc(100vh - 75px);
    width: 100%;
  }
  .gantt_grid_data .gantt_row.gantt_selected, .gantt_grid_data .gantt_row.odd.gantt_selected, .gantt_task_row.gantt_selected {
    background-color: rgb(0 0 0 / 10%)
  }
  .gantt_task_line.gantt_task_inline_color.gantt_project.gantt_selected, .gantt_task_line.gantt_task_inline_color.gantt_selected {
    box-shadow: none;
  }
  .gantt_task_line.gantt_task_inline_color:not(.gantt_empty_task) {
    border-radius:5px;
    font-weight:bold;
    border: solid 1px black;
    user-select: none; /* standard syntax */
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
  }

  .gant_task_line {
    margin-top:1.5px;
  }
  .gantt_task_cell {
    border-right: 1px solid #ddd;
  }
  .gantt_side_content.gantt_right {
    margin-top: -4px;
  }
  .gantt_empty_task > .gantt_task_content {
    width: auto !important; 
    opacity:0.35;
  }
  .gantt_empty_task.last-revision > .gantt_task_content {
    opacity: 1;
  }
  app-overview > p-scrollpanel > div > div.p-scrollpanel-wrapper > div > p-splitter > div {
    width:calc(100vw - 26px);
  }
  
  .gantt_empty_task {
    width: auto;
    padding: 0px 10px;
    font-weight: bold;
    color:gray;
    background: 'transparent' !important;
    background-color: 'transparent' !important;
    border:none;
    user-select: none; /* standard syntax */
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
  }
  .gantt_task_line.gantt_task_inline_color:hover:not(.gantt_empty_task) {
    //border: inset 2px white !important;
    //box-shadow: 1px 3px 6px 0px #00000077;
    user-select: none; /* standard syntax */
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
  }

  .p-splitter {
    border: none !important;
    height:100%;
    }

    .p-splitter .p-splitter-gutter {
        background: #c9c9c9;
        /* border-style: dotted; */
        z-index: 1000;
        /* border-color: lightgray; */
        box-shadow: 10px 0px 10px 5px rgb(0 0 0 / 10%);
    }
  

    .p-splitter .p-splitter-gutter .p-splitter-gutter-handle {
      background: #aaa;
  }
  .gantt_layout_root {
    border:none;
  }

  .gantt_layer_outer_scroll.gantt_layer_outer_scroll_vertical {
    display:none !important;
  }
  .gantt_layout_content.gantt_resizer_x.gantt_grid_resize_wrap {
    display:none !important;
  }
  .gantt_task .gantt_task_scale .gantt_scale_cell {
    color: black;
    border-bottom: solid 1px #bbb;
    /* border-right: solid 1px #bbb; */
    overflow: visible;
    font-weight: bold;
    user-select: none; /* standard syntax */
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
  }

  .p-dialog .p-dialog-content {
    padding: 0px
}
.gantt_marker {
  background-color: rgb(0 151 118);
}
.gantt_marker.Milestone {
  background-color:black;
}
  .gantt_task_scale, .gantt_scale_cell {
    border:none;
    color:black;
    //font-size:15px;
    font-family: 'Delius';
    //margin-top:-15px;
    user-select: none; /* standard syntax */
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
  }

  .gantt-weekend {
    background:#00000012;
  }

  .gantt-status-bg {
    opacity:0.2;
    background: red;
    height: 40px;
    position:absolute;
  }
}


::-webkit-scrollbar-track
{
	background-color: transparent;
}

::-webkit-scrollbar
{
	width: 8px;
  background-color: #777;
}

::-webkit-scrollbar-thumb
{
  width:8px;
	background-color: lightgray;
  border:solid 1px black;
  border-radius:3px;
}

.p-dialog-content {
  padding: 0px !important;
}

.pm-page {
  width:100vw;
  display:block;
  position:relative;
  overflow-x: hidden;
  overflow-y:visible;
  height:calc(100vh - 70px);
}


.pm-page-wtab {
  width:100vw;
  display:block;
  position:relative;
  overflow-x: hidden;
  overflow-y:visible;
  height:calc(100vh - 70px);
  margin-top:36px;
}

app-home > div > nav > div.mat-tab-link-container > div > div > a > p-badge {
  margin-top:-10px;
}

app-home > div > nav > div.mat-tab-link-container > div > div > a > p-badge > span {
  color: #ffffff;
  font-size: 0.6rem;
  font-weight: 700;
  min-width: 1rem;
  height: 1rem;
  line-height: 1rem;
}

p-badge.badge-requires-review > span {
  background: rgb(255, 100, 46);
}


p-badge.badge-received-feedback > span {
  background: rgb(187, 51, 84);
}


p-badge.badge-requires-assistance > span {
  background: rgb(255, 90, 196);
}

.kanban-attr {
  width: unset !important;
  padding:5px;
  padding-bottom:0px;

  .mat-form-field-infix {
      width: unset !important;
  }
}
.kanban-attr > .mat-form-field-wrapper{
  width:unset !important;
  padding-bottom:0px !important;
}
.kanban-attr > .mat-form-field-wrapper > .mat-form-field-underline {
  display:none !important;
}
app-people {
  table {
    border-radius:10px;
  }
  .mat-cell, .mat-header-cell {
    border-right: solid 1px lightgray;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .mat-header-cell {
    border-bottom: solid;
    //border-top:solid;
    border-top-width:1px !important;
    border-top-style:solid;
    border-top-color:black !important;
    //border-bottom-color: gray;
    //border-bottom-width: 1px;

    //box-shadow: 0px 5px 10px -1px rgb(0 0 0 / 30%);
  }
  .mat-cell:first-child{
    border-left:solid 1px black;
  }
  .mat-cell:last-child{
    border-right:solid 1px black;
  }
  .mat-header-cell:first-child{
    border-top-left-radius: 10px;
    border-left: solid 1px black;
  }
  .mat-header-cell:last-child {
    border-top-right-radius: 10px;
    border-right: solid 1px black;
  }
  .mat-row:last-child > .mat-cell:first-child, .mat-row:last-child  {
    border-bottom-left-radius: 10px;
  }
  .mat-row:last-child > .mat-cell:last-child, .mat-row:last-child  {
    border-bottom-right-radius: 10px;
  }
  .mat-row:last-child > .mat-cell {
    border-bottom: solid 1px black;
  }


  app-user > div > div > div.avatar-circle, app-user > div > div > img  {
    height:37px !important;
    width: 37px !important;
    border: solid 1px black !important;
    box-shadow: 2px 1px 5px 2px rgb(0 0 0 / 20%)
  }
}
app-itemchart > div > p-chart > div > canvas {
    align-self:center !important;
    display:flex !important;
  }
  app-itemchart > div > p-chart > div {
    height:100% !important;
    display: flex !important;
  }

  app-box {
    position: absolute;
    margin-top: -71px;
    height: 100vh;
    width: 100vw;
    
  app-user > div.user-avatar-nav {
    right:10px !important;
  }

  app-user > div > div > img {
    border-color: black !important;
  }
}