
<nav mat-tab-nav-bar pmTabUnderline [primaryColor]="primaryColor">
    <div style="position:absolute;right:20px;" fxLayout="row" fxLayoutAlign="end end">
        <mat-checkbox style="height:30px"
        [ngModel]="ShowCompleted$ | async" (ngModelChange)="ToggleShowCompleted()">Completed</mat-checkbox>
        <ng-container *ngFor="let menu$ of [ViewStatusMenu$, ViewUserMenu$, ViewTeamMenu$,
            ViewAppMenu$, ViewRendererMenu$, ViewServiceMenu$, ViewProjectMenu$, ViewBoardMenu$, ViewGroupMenu$]">
            <ng-container *ngIf="(menu$ | async) as ViewMenu">
                <div fxLayout="row" fxLayoutAlign="end center">
                    <div>
                        <ng-container *actionOutlet="ViewMenu"></ng-container>
                    </div>
                </div>
            </ng-container>
        </ng-container>

    </div>
</nav>

<div class="support-container">
    <div class="pm-page-wtab">
        <div fxLayout="row wrap" fxLayoutGap="32px grid" fxLayoutAlign="center start">
            <ng-container *ngFor="let issue of (Issues$ | FilterCompleted$ : ShowCompleted$ | async)">
                <app-support-item [Item]="issue" fxLayout="column" style="align-self:stretch"
                fxLayoutAlign="stretch stretch"></app-support-item>
            </ng-container>
        </div>
    </div>
</div>