<div *ngIf="(Selected$ | async) as selected" class="no-select"
[ngStyle]="{'display' : !window || !window.parent || window.location == window.parent.location ? 'block' : 'none'}">
    <div class="nav-toolbar">

        <h2 class="nav-title" matBadge="2" matBadgePosition="below after">
            <span style="z-index:12">Project Manager</span>
        </h2>


        <ng-container *ngFor="let title of NavigationMenu.Titles">
            <div [ngStyle]="{'background' : title == selected.title? selected.background : 'transparent'}"
                [ngClass]="{'pm-active-nav' : title == selected.title, 'pm-inactive-nav' : title != selected.title}">
                <ng-container *actionOutlet="NavigationMenu.Pages[title].menu" style="margin-top:30px"></ng-container>
            </div>
        </ng-container>

        <div *ngIf="IsAuthorized" class="nav-user">
            <app-user [User]="User" [Photo]="MyPhoto" [IsNav]="true"></app-user>
        </div>
    </div>

    <div class="nav-ctrl-bar" [style.background]="selected.background">
        <div class="nav-ctrl-titles">
            <h2 class="page-title nav-title">
                {{selected.title}}
            </h2>
                <ng-container *ngFor="let subtitle of (PageTitles$ | async)">
                    <h2 class="page-title nav-title">
                        | 
                    </h2>
                    <h2 class="page-title nav-title">
                        {{subtitle}}
                    </h2>
                </ng-container>
        </div>
    </div>

    <app-reference-dlg [Show]="ShowReference" [primaryColor]="selected.background" [Title]="ReferenceTitle"
    [Root]="ReferenceFolder$ | async" (onClose)="ShowReference=false"></app-reference-dlg>

</div>