<div #contextMenuTrigger (menuClosed)="onContextClosed()" [matMenuTriggerFor]="ItemContextMenu"
  style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x" [style.top]="contextMenuPosition.y">
</div>

<mat-menu #ItemContextMenu="matMenu" yPosition="below" preventContext>
  <ng-template matMenuContent>
    <button mat-menu-item (click)="RemoveResponse()">Remove
      Response</button>
  </ng-template>
</mat-menu>

<ng-container *ngIf="(Application$ | async) as res">
  <ng-container *ngIf="(ResponseData$ | async) as responseData">
    <div fxLayout="row" fxLayoutAlign="center center" style="width:100%">
      <div class="applicant-container" [ngClass]="{'hovering' : Hovering }" style="width:100%;position:relative">
        <div (contextmenu)="onContextMenu($event)">
          <div fxLayout="row" fxLayoutAlign="space-between end" style="border-bottom:solid 2px black"
            [style.border-bottom-color]="primaryColor">
            <h2 style="margin-bottom:0px;font-weight:bold">
              {{res.Name ? res.Name : 'Not Given'}}
            </h2>
            <div fxLayout="row" fxLayoutGap="10px">
              <bar-rating [rate]="MyRating$ | async" [max]="10" (rateChange)="SetRating($event)"></bar-rating>
            </div>
          </div>
          <div fxLayout="row" fxLayout="center center" style="width:100%;position:relative">
            <div style="margin-right:20px;color:gray;position:absolute;top:5px;right:-15px;text-align:right">
              {{res.Submitted | date: 'medium'}}</div>
            <div fxLayout="column" style="margin-left:50px;margin-top:20px" fxLayoutGap="5px">
              <div fxLayout="row" fxLayoutGap="10px">
                <div style="font-weight:bold">
                  Email
                </div>
                <div *ngIf="res.Email; else noResponse">
                  {{res.Email}}
                </div>
              </div>
              <div fxLayout="row" fxLayoutGap="10px">
                <div style="font-weight:bold">
                  Website
                </div>
                <div *ngIf="res.Website; else noResponse">
                  {{res.Website}}
                </div>
              </div>
              <div fxLayout="row" fxLayoutGap="10px">
                <div style="font-weight:bold">
                  Phone
                </div>
                <div *ngIf="res.Phone; else noResponse">
                  {{res.Phone}}
                </div>
              </div>
              <div fxLayout="row" fxLayoutGap="10px">
                <div style="font-weight:bold">
                  Years experience
                </div>
                <div *ngIf="res.Phone; else noResponse">
                  {{res.YearsExperience}}
                </div>
              </div>
            </div>

            <div fxLayout="column" style="margin-left:50px;margin-top:20px" fxLayoutGap="5px">
              <div fxLayout="row" fxLayoutGap="10px">
                <div style="font-weight:bold">
                  Location
                </div>
                <div *ngIf="res.Location; else noResponse">
                  {{res.Location}}
                </div>
              </div>

              <div fxLayout="row" fxLayoutGap="10px">
                <div style="font-weight:bold">
                  CV
                </div>
                <div *ngIf="res.CV?.file_url; else noResponse" (click)="RetrieveFile(res.CV)" style="cursor:pointer;"
                  [style.color]="primaryColor">
                  Click to View
                </div>
              </div>

              <div fxLayout="row" fxLayoutGap="10px">
                <div style="font-weight:bold">
                  Resume
                </div>
                <div *ngIf="res.Resume?.file_url; else noResponse" (click)="RetrieveFile(res.Resume)"
                  style="cursor:pointer;" [style.color]="primaryColor">
                  Click to View
                </div>

              </div>
            </div>
            <div fxLayout="column" style="margin-left:50px;margin-top:20px" fxLayoutGap="5px">
              <div fxLayout="row" fxLayoutGap="10px" style="font-weight:bold">
                Additional Notes
              </div>
              <div *ngIf="res.AdditionalNotes" style="width:100%;height:100%">
                <pre
                  style="font-family:Delius;font-size:14px;margin-top:0px;padding-top:0px">{{res.AdditionalNotes}}</pre>
              </div>
            </div>
          </div>
          <div style="position:relative">
            <div fxLayout="row" fxLayoutAlign="end end" style="width:100%;height:0px;translate:0px 10px">
              <ng-container *ngIf="(Notes$ | async)?.length as totalComments">
                <div style="font-style:italic;padding-bottom:8px;padding-right:10px" *ngIf="totalComments > 0">
                  {{totalComments}} Comments
                </div>
              </ng-container>
              <button mat-mini-fab tippyText="View Comments" (click)="ShowComments = !ShowComments">
                <mat-icon class="app-fab-icon-btn app-center-fab-icon" style="font-size: 23px;
              padding-top: 2px;">forum</mat-icon>
              </button>

            </div>
          </div>
        </div>
        <ng-container *ngIf="ShowComments">
          <ng-container *ngIf="(Notes$ | async) as Notes">
            <div fxLayout="column" style="width:100%;margin-top:20px;padding-top:10px;position:relative">
              <ng-container *ngIf="Notes.length > 0; else noComments">
                <div *ngFor="let n of Notes; let i = index;"
                  style="border-top: solid 1px gray;padding-top: 20px;padding-bottom:20px">
                  <app-comment [Comment]="n" [index]="I"></app-comment>
                </div>
              </ng-container>
              <angular-editor [placeholder]="'Add a comment for this response...'" [(ngModel)]="newComment"
                [config]="editorConfig" style="margin-right: 60px; margin-left: 0px;"></angular-editor>

              <button mat-mini-fab tippyText="Add Comment" style="position: absolute;right: 0px;bottom: 0px;"
                (click)="AddComment()">
                <mat-icon class="app-fab-icon-btn app-center-fab-icon" style="font-size: 23px;
                  padding-top: 2px;-webkit-text-stroke-width: 2px;">check</mat-icon>
              </button>
            </div>
          </ng-container>
        </ng-container>
      </div>
      <!--
    <div style="margin-top:20px;border-bottom:solid 1px black;width:calc(100% - 20px);"></div>
    -->
    </div>
  </ng-container>
</ng-container>


<ng-template #noResponse>
  <div style="font-style:italic;color:Gray">Not Given</div>
</ng-template>
<ng-template #noComments>
  <div fxLayout="row" fxLayoutAlign="center center" style="width:100%;text-align:center">
    <h3 style="padding-bottom: 0px;
    padding-top: 20px;
    border-top: solid 1px gray;
    width: 100%;">No Comments have been posted for this response.</h3>
  </div>
</ng-template>
